# serverless.yml

service: s3-db-lambda-retrieve

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-west-2
  iamRoleStatements: # IAM role statements so that services can be accessed in the AWS account
  - Effect: 'Allow'
    Action:
      - 's3:*'
    Resource:
      - { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ]]}
      - "arn:aws:s3:::s3db-acs1115/*"
      - "arn:aws:s3:::s3db-acs1014/*"

functions:
  app:
    handler: app.handler
    events:
      - http:
          path: get-parsed-expression
          method: post
          cors: true
      - http:
          path: test
          method: get
          cors: true