# serverless.yml

service: s3-db-lambda-retrieve

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-west-2
  timeout: 30

functions:
  app:
    handler: app.handler
    events:
      - http:
          path: fast-retrieve
          method: post
          cors: true
      - http:
          path: test
          method: get
          cors: true